@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
  width: 3px; /* Width for vertical scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}
